<template>
	<q-page>
		<q-tabs color="black" v-model="tab" dense class="bg-whute shadow-2 text-black">
			<q-tab name="typeFood" icon="img:statics/tipodecomida.svg"/>
			<!--<q-tab name="maps" icon="map" @click="initMapa" />
			<q-tab name="money" icon="attach_money"/>-->
		</q-tabs>
		<q-tab-panels v-model="tab" animated>
			<q-tab-panel name="typeFood" style="padding: 0px !important">
				<div class="row q-mt-sm">
					<div clickable v-ripple class="col-sm-6 col-xs-6" v-for="(foodType, idx) in foodTypeList"  :key="idx" @click="filterRestaurantByFoodType(foodType.id)" style="cursor: pointer;; height: 130px">
						<div style="position: relative;">
							<div style="width: 100%;">
							<img :src="urlImg + '/image/type_food/' + foodType.icons" style="width: 100%; height: 130px">
							</div>
							<div class="absolute-bottom custom-caption" style="bottom: 6px">
								<div class="text-center">
									{{foodType.name}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</q-tab-panel>

			<q-tab-panel name="maps" style="padding: 0px !important">
				<div class="text-h6 bg-black text-white" style="width: 100%; padding: 0.3em">Rango de area</div>
				<div id="mapi" style="width:100%; height:68vh"></div>
			</q-tab-panel>

			<q-tab-panel name="money">
				<div class="text-h6">Rango de precio</div>
				<q-list >
					<q-item class="q-pa-md" @click="filterRestaurantByPrice(1)" clickable v-ripple>
						<q-rating
							v-model="filterPriceModel"
							size="2.5em"
							icon="attach_money"
							max="1"
							@click="filterRestaurantByPrice(1)"
						/>
					</q-item>
					<q-item class="q-pa-md" @click="filterRestaurantByPrice(2)" clickable v-ripple>
						<q-rating
							v-model="filterPriceModel2"
							size="2.5em"
							icon="attach_money"
							max="2"
							@click="filterRestaurantByPrice(2)"
						/>
					</q-item>
					<q-item class="q-pa-md" @click="filterRestaurantByPrice(3)" clickable v-ripple>
						<q-rating
							v-model="filterPriceModel3"
							size="2.5em"
							icon="attach_money"
							max="3"
							@click="filterRestaurantByPrice(3)"
						/>
					</q-item>
				</q-list>
			</q-tab-panel>
		</q-tab-panels>
	</q-page>
</template>

<script>
	import { Notify } from 'quasar'
	import { domainImg } from '../../api/data'
	import { domain } from '../../api/data'

	export default {
  // name: 'PageName',
  computed:{
    foodTypeList () {
      return this.$store.getters['filter/getFoodTypeLists']
    },
    restaurants () {
      return this.$store.getters['restaurant/restaurantLists']
    }
  },
  data () {
  	return {
		tab: 'typeFood',
		filterPriceModel: 1,
		filterPriceModel2: 2,
		filterPriceModel3: 3,
		foodType: null,
		urlImg: domainImg,
		price: null,
		area: null,
		options: [
			'1km', '5km', '10km', '15km', '30km'
      	],
      	map: '',
	    allMarkers: [],
	    url: domain,
	    areaDialog: false,
	    gpsOptions: {
	      maximumAge: 25000, 
	      timeout: 5000, 
	   	  enableHighAccuracy: true
	    },
	    coords: {
	      lat: 6.25184,
	      lng: -75.56359
	    }
	 }
  },
  methods: {
  	getTypeFood () {
  		this.$store.dispatch('filter/getTypeFood')
        .then((resp) => {
        })
        .catch(err => alert(err))
  	},
  	filterRestaurantByFoodType (id) {
		this.foodType = id
		this.filtrar()
	},
	filterRestaurantByPrice (id) {
		this.price = id
		let data = { price: this.price }
		this.$store.dispatch('filter/filterRestaurantPrice', data)
		.then((resp) => {
            if (resp.data.data) {        	
        		this.$store.dispatch('restaurant/setRestaurant', resp.data)
        			.then((resp) => {
        				this.routerPush('/dashboard/main')
        			})
        			.catch(err => alert(err))
        	}
		})
		.catch(err => 
			alert(err) 
		)

	},
	filterRestaurantByArea (id){
	},
	filtrar () {
		let data = { type: this.foodType, price: this.price, area: this.area }
		this.$store.dispatch('filter/filterRestaurant', data)
		.then((resp) => {
            if (resp.data.data) {        	
        		this.$store.dispatch('restaurant/setRestaurant', resp.data)
        			.then((resp) => {
        				this.routerPush('/dashboard/main')
        			})
        			.catch(err => alert(err))
        	}
		})
		.catch(err => 
			alert(err) 
		)
	},
  	routerPush (key) {
		this.$router.push({ path: key })
    },
    getCoords () {
    	navigator.geolocation.getCurrentPosition(this.geoSuccess, this.geoError, {maximunAge: 30000, timeout: 10000, enableHighAccuaracy: true})
    },
    geoSuccess (position) {
    },
    geoError (err) {
    	alert(err.message)
    },
    initMapa () {
    	setTimeout(() => {
    		this.initMap()       
      	}, 500)
    },
    initMap () {
      var openstreetmap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')
      this.map = L.map('mapi', {
        center: [6.25184, -75.56359],
        zoom: 12,
        dragging: true,
        layers: [openstreetmap]
      })
  	  this.addMarker()
    },
    addMarker () {
    },
    validateIfGpsIsEnabled () {
      cordova.plugins.diagnostic.isLocationEnabled(this.gpsSuccessEnabled, this.GpsErrorEnabled);
    },
    gpsSuccessEnabled (res) {
      if (!res){
         alert("El gps esta " + (res ? "Activado" : "Desactivado") + ", por favor presiona aceptar para activarlo.");
      }
      !res ? cordova.plugins.diagnostic.switchToLocationSettings() : '';
    },
    GpsErrorEnabled () {
      alert("Error: "+JSON.stringify(err));
    }
  },
  beforeMount () {
    this.getTypeFood()
    // this.validateIfGpsIsEnabled()
  },
  mounted () {
  	// this.getCoords()
  }
}
</script>
