<template>
  <q-page padding>
    <!-- content -->
    <gmap-map ref="indexMap" :center="center" :zoom="12" style="width:100%;  height: 80vh;">
      <gmap-marker v-for="(m, index) in markerss" :key="index" :position="getPosition(m)" @click="toggleInfoWindow(m, index)" :icon="markerOptions">
      </gmap-marker>
      <gmap-marker v-if="succesGeoMarker" :position="coords" click="toggleInfoWindow(m, index)" :icon="geoMarkerOptions">
      </gmap-marker>
       <gmap-info-window
        :options="infoOptions"
        :position="infoWindowPos"
        :opened="infoWinOpen"
        @closeclick="infoWinOpen=false"
        >
          <div v-html="infoContent"></div>
        </gmap-info-window>
    </gmap-map>

    <div class="fixed-option-buttom">
      <q-btn color="black" class="shadow-10 button-fixed-radius" icon="img:statics/filtrar.svg" @click="areaDialog = !areaDialog" />
      <q-btn color="black" class="shadow-10 button-fixed-radius" icon="img:statics/mapa.svg" @click="getCoords" />
    </div>
    <q-drawer v-model="areaDialog" :side="sideRight" show-if-above :width="240" :breakpoint="500" content-class="bg-black">
      <q-scroll-area class="fit">
        <div class="row q-pa-md q-mt-lg">
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <p class="text-white text-h6">Filtrar por precio</p>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="margin-top: -20px">
            <q-range @input="togglePrice" :min="15000" :step="5000" :max="100000" v-model="rangePrice" label color="white" label-text-color="black"/>
            <div class="row" style="margin-top: -10px">
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-white" style="font-size: 10px">
                $15.000
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-white text-right" style="font-size: 10px;">
                $100.000
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 q-mt-lg">
            <p class="text-white text-h6">Filtrar por area</p>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="margin-top: -15px">
            <q-range :disable="disableRangeFilter" @input="toggleRange" :min="0" :step="2" :max="10" v-model="rangeArea" label color="white" label-text-color="black"/>
            <div class="row" style="margin-top: -10px">
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-white" style="font-size: 10px">
                1 Km
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-white text-right" style="font-size: 10px;">
                10 Km
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 q-mt-lg">
            <p class="text-white text-h6">Filtrar por comida</p>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <q-scroll-area class="scroll-type-food" style="height:180px">
              <q-list style="height: 100%">
                <q-item-label header>Selecciona la comida</q-item-label>
                <q-item style="min-height: 8px !important; margin-top: -10px !important;" clickable v-ripple v-for="(foodType, idx) in foodTypeList" :key="idx" @click="toggleRestaurantByTypeFood(foodType.id)">
                  <q-item-section>{{foodType.name}}</q-item-section>
                </q-item>
              </q-list>
            </q-scroll-area>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 q-pt-lg">
            <center>
              <p @click="resetFilter" class="text-white">Reiniciar Filtro</p>
            </center>
          </div>
        </div>
      </q-scroll-area>
    </q-drawer>
  </q-page>
</template>

<script>
import { domain, domainImg } from '../../api/data'

export default {
  // name: 'PageName',
  computed: {
    restaurants () {
      return this.$store.getters['restaurant/restaurantLists']
    },
    foodTypeList () {
      return this.$store.getters['filter/getFoodTypeLists']
    }
  },
  data () {
    return {
      markerss: [],
      oldMarkerss: [],
      markerOptions: {
        url: require('../../statics/marker-a.png'),
        size: {width: 40, height: 48, f: 'px', b: 'px',},
        scaledSize: {width: 30, height: 45, f: 'px', b: 'px',},
      },
      map: '',
      allMarkers: [],
      url: domain,
      areaDialog: false,
      coords: {
        lat: 6.25184,
        lng: -75.56359
      },
      center: {
        lat: 6.25184,
        lng: -75.56359
      },
      sideRight: 'right',
      filterOverlay: false,
      rangePrice: {
        min: 0,
        max: 15000
      },
      rangeArea: {
        min: -10,
        max: 0
      },
      filterData: [],
      disableRangeFilter: false,
      maxPrice: null,
      maxRange: null,
      urlImg: domainImg,
      infoContent: '',
      infoWindowPos: {
        lat: 0,
        lng: 0
      },
      infoWinOpen: false,
      currentMidx: null,
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
      succesGeoMarker: false,
      geoMarkerOptions: {
        url: require('../../statics/icono-person-location.svg'),
        size: {width: 40, height: 48, f: 'px', b: 'px',},
        scaledSize: {width: 30, height: 45, f: 'px', b: 'px',},
      },
      succesGeoMarkerPosition: {
        lat: 0,
        lng: 0
      },
      nowHours: null,
      statusOpen: null
    }
  },
  methods: {
    getPosition: function(marker) {
      return {
        lat: parseFloat(marker.lat),
        lng: parseFloat(marker.lng)
      }
    },
    toggleInfoWindow: function (marker, idx) {
      var position = {
        lat: parseFloat(marker.lat),
        lng: parseFloat(marker.lng)
      }
      this.infoWindowPos = position;
      this.infoContent = this.getInfoWindowContent(marker)

      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx == idx) {
        this.infoWinOpen = !this.infoWinOpen
      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true
        this.currentMidx = idx
      }
    },
    getInfoWindowContent: function (marker) {
      this.validateHourOpen(marker)
      return ('<div class="card-popup"><div class="open-label"><img width="30px" src=' + this.statusOpen + '></div><div class="popup-image"><a href="#/dashboard/restaurant/filter/' + marker.id + '"><img src="' +domainImg + '/image/restaurant/' + marker.images.data[0].path +'" class="marker-popup-img" style="width:100% !important"/></a></div><div class="marker-popup-overlay"><p class="marker-popup-overlay-text"><a class="" href="#/dashboard/restaurant/filter/' + marker.id + '" style="color:white !important">' + marker.name + '</a></p></div><div class="row" style="height: 25px;"><div class="col-sm-6 col-xs-6 q-pl-md"><p><a class="" href="#/dashboard/restaurant/filter/' + marker.id + '" style="color:black"><i class="material-icons"  style="font-size:12px;color:black;">fastfood</i> ' + marker.foodType.name + '</a></p></div><div class="col-sm-6 col-xs-6 text-right q-pr-md"><p><a class="" href="#/dashboard/restaurant/filter/' + marker.id + '" style="color:black"><i class="material-icons" style="font-size:12px;color:black;">timer</i> ' + marker.hour_open.substr(0, 5) + ' ' + marker.hour_close.substr(0, 5) + '</a></p></div></div></div>')
    },
    validateHourOpen (marker) {
      if(marker.hour_open != 'CE' && this.nowHours >= marker.hour_open) {
        this.statusOpen = 'statics/abierto.png'
      } else {
        this.statusOpen = 'statics/cerrado.png'
      }
    },
    getRestaurantData () {
      if (this.restaurants.length < 1) {
        this.$store.dispatch('restaurant/getRestaurants')
          .then((resp) => {
            this.markerss = resp.data.data
          })
          .catch(err => console.log(err))
      } else {
        this.markerss = this.restaurants
      }
    },getDayName() {
        var a = new Date();
        var weekdays = new Array(7);
        weekdays[0] = "domingo";
        weekdays[1] = "lunes";
        weekdays[2] = "martes";
        weekdays[3] = "miercoles";
        weekdays[4] = "jueves";
        weekdays[5] = "viernes";
        weekdays[6] = "sabado";
        var r = weekdays[a.getDay()];
        return r
    },
    getCoords () {
      navigator.geolocation.getCurrentPosition(this.geoSuccess, this.geoError, {maximunAge: 30000, timeout: 10000, enableHighAccuaracy: true})
    },
    geoSuccess (position) {
      this.succesGeoMarker = true
      this.coords.lat = position.coords.latitude
      this.coords.lng = position.coords.longitude
      this.center.lat = position.coords.latitude
      this.center.lng = position.coords.longitude
    },
    geoError (err) {
      alert(err.message)
    },
    togglePrice (event) {
      this.infoWinOpen = false
      this.maxPrice = event.max
      this.filterData = []
      for (var i = 0; i < this.restaurants.length; i++) {
        if (this.restaurants[i].promed_price_food >= 15000.00 && this.restaurants[i].promed_price_food <= event.max ) {
          this.filterData.push(this.restaurants[i])
        }
      }
      this.oldMarkerss = this.restaurants
      this.markerss = this.filterData
    },
    addMarkerByPrice () {
      this.markerss = this.filterData
    },
    toggleRange (event) {
      this.infoWinOpen = false
      this.disableRangeFilter = true
      this.area = event.max
      this.filterData = []
      this.maxRange = event.max
      let data = { area: this.area, lat: this.coords.lat, lng: this.coords.lng }
      this.$store.dispatch('filter/filterRestaurantArea', data)
        .then((resp) => {
          if (resp.data.data) {         
            this.$store.dispatch('restaurant/setRestaurant', resp.data)
              .then((resp) => {
                this.disableRangeFilter = false
                if (this.maxPrice != null) {
                  this.validatePriceFilter()
                } else {
                  for (var e = 0; e < resp.data.length; e++) {
                    this.filterData.push(resp.data[e])
                  }
                  this.addMarkerByPrice()
                }
              })
              .catch(err => alert(err))
          }
        })
        .catch(err => 
          alert(err) 
        )
    },
    validatePriceFilter () {
      this.filterData = []
      if (this.maxPrice != 15000) {
        for (var i = 0; i < this.restaurants.length; i++) {
          if (this.restaurants[i].promed_price_food >= 15000.00 && this.restaurants[i].promed_price_food <= this.maxPrice) {
            this.filterData.push(this.restaurants[i])
            this.addMarkerByPrice()
          }
        }
      } else {
        this.markerss = this.restaurants
      }
    },
    getTypeFood () {
      this.$store.dispatch('filter/getTypeFood')
        .then((resp) => {
        })
        .catch(err => alert(err))
    },
    toggleRestaurantByTypeFood (key) {
      // global array
      var data = []
      this.infoWinOpen = false
      // validate if isset item in filterData (vue global array)
      if (this.filterData.length >= 1) {
        for (var i = 0; i < this.filterData.length; i++) {
          if (this.filterData[i].foodType.id == key) {
            data.push(this.filterData[i])
          }
        }
        this.filterData = []
        this.filterData = data
        this.markerss = data
      // validate if isset item in store restaurant
      } else {
        for (var i = 0; i < this.restaurants.length; i++) {
          if (this.restaurants[i].foodType.id == key) {
            data.push(this.restaurants[i])
          }
        }
        this.filterData = []
        this.filterData = data
        this.markerss = data
      }
      this.addMarkerByPrice()
      this.filterData = []
    },
    resetFilter () {
      this.$store.dispatch('restaurant/getRestaurants')
        .then((resp) => {
          this.rangePrice.max = 15000
          this.rangeArea.max = 0
          this.markerss = resp.data.data
        })
        .catch(err => console.log(err))
    },
    getHourNow () {
      let hoy = new Date()
      let hora = hoy.getHours() +':' + hoy.getMinutes()
      this.nowHours = hora
    }
  },
  beforeMount () {
    this.getRestaurantData()
    this.getTypeFood()
    this.getHourNow()
  }
}
</script>
